$navheight: 75px;

.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  height: $navheight;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5px solid rgb(219, 219, 219);
}

.brandlogo {
  width: 88px;
  align-self: center;

}

.navitems {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.navitems>a {
  text-decoration: none;
  align-self: center;
  padding-top: 4px;
}

.navitems>a>li {
  display: inline-flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: rgb(97, 97, 97);
  font-weight: 600;

  @media screen and (max-width : 800px) {
    display: none;
  }
}

.activeitem {
  color: rgb(0, 121, 219);
}

.contactnav {
  align-self: center;
  flex-direction: row;
  width: 100px;

  @media screen and (max-width : 800px) {
    display: none;
  }
}


.contactnav>a {

  text-decoration: none;
  font-size: 18px;
  color: rgb(97, 97, 97);
  font-weight: 600;
  padding-top: 4px;
}